@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<h1>@ViewData["Title"]</h1>
@if (User.IsInRole(Store.ENV.AdminRole))
{
    <h1>Register admin user</h1>
}
else
{
    <h1>Register</h1>
}

<form asp-route-returnUrl="@Model.ReturnUrl" method="post" class="col-6">
    <h4>Create a new account.</h4>
    <hr />
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <div class="form-group input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fa fa-user"></i> </span>
            </div>
            <input asp-for="Input.FullName" class="form-control" placeholder="Full Name" type="text">

        </div>
        <span asp-validation-for="Input.FullName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <div class="form-group input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fab fa-facebook-square"></i> </span>
            </div>
            <input asp-for="Input.FaceBook" class="form-control" placeholder="Facebook" type="text">

        </div>
        <span asp-validation-for="Input.FaceBook" class="text-danger"></span>
    </div>
    <div class="form-group">
        <div class="form-group input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"><i class="fab fa-telegram-plane"></i> </span>
            </div>
            <input asp-for="Input.Telegram" class="form-control" placeholder="Telegram" type="text">

        </div>
        <span asp-validation-for="Input.Telegram" class="text-danger"></span>
    </div>
    <div class="form-group">
        <div class="form-group input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-envelope"></i> </span>
            </div>
            <input asp-for="Input.Email" class="form-control" placeholder="Email" type="text">

        </div>
        <span asp-validation-for="Input.Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <div class="form-group input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-lock"></i> </span>
            </div>
            <input asp-for="Input.Password" class="form-control" placeholder="Password" type="password">

        </div>
        <span asp-validation-for="Input.Password" class="text-danger"></span>
    </div>
    <div class="form-group">
        <div class="form-group input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-lock"></i> </span>
            </div>
            <input asp-for="Input.ConfirmPassword" class="form-control" placeholder="ConfirmPassword" type="password">

        </div>
        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
    </div>
    @if (User.IsInRole(Store.ENV.AdminRole))
    {
        <button type="submit" class="btn btn-primary col-6">Register new Admin</button>
    }
    else
    {
        <button type="submit" class="btn btn-primary col-6">Register</button>
    }

</form>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
